<max-alert class="row col-3 max-alert"></max-alert>
<div class="max-container">

  <div class="max-title">
    <h2>Cadastro de Clientes</h2>
  </div>

  <fieldset>
    <legend>Dados pessoais: </legend>
    <form class="max-form-filter-container" name="personFormFilter" role="form" [formGroup]="personForm" (ngSubmit)="savePerson()">
      <mat-form-field *ngIf="person?.id">
        <div class="max-input-style">
          <label>Id:</label>
          <input matInput formControlName="id">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="max-input-style">
          <label>Código:</label >
          <input matInput formControlName="code">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="max-input-style">
          <label>Nome:</label>
          <input matInput formControlName="name">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="max-input-style">
          <label>CNPJ:</label>
          <input matInput formControlName="taxId">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="max-input-style">
          <label>Email:</label >
          <input matInput formControlName="email" type="email">
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="max-input-style">
          <label>Telefone:</label>
          <input matInput formControlName="phone">
        </div>
      </mat-form-field>

      <div class="max-addresses">
        <div *ngFor="let address of addressFormGroupList; " class="max-address">
          <legend>Endereço: </legend>
          <max-address-form
            [addressForm]="address">
          </max-address-form>
        </div>
        <button type="button" class="btn btn-dark max-add-address-btn" (click)="addNewAddress()">+ Adicionar Endereço</button>
      </div>

      <div class="max-filter-buttons">
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-outline-dark">
          <mat-icon class="mat-18">save</mat-icon>
          <span> Salvar </span>
        </button>

        <button type="button" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="cleanForm()">
          <mat-icon class="mat-18">delete</mat-icon>
          <span>Limpar</span>
        </button>
      </div>

    </form>
  </fieldset>

</div>
