
.max-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;

  .max-add-btn {
    margin-left: 79%;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.max-table-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0.5px 0 1px #615c5c81;
}

table.mat-table {
  width: 100%;
  font-weight: 400;
  border-color: rgba(44, 41, 41, 0.404);
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 8px 0 8px;
}

tr.mat-row, tr.mat-footer-row {
  vertical-align: middle;
}

.btn-table {
  width: 38px;
  height: 38px;
  padding: 2px;

  mat-icon {
    padding: 2px;
  }
}

mat-paginator {
  width: 90%;
}


