<div class="max-container" multi>

  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        Filtro de clientes
      </mat-panel-title>

      <mat-icon>search</mat-icon>

    </mat-expansion-panel-header>

  </mat-expansion-panel>


  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        Listagem de clietnes
      </mat-panel-title>

      <mat-icon>list</mat-icon>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        Geolocalização de clientes
      </mat-panel-title>

      <mat-icon>map</mat-icon>
    </mat-expansion-panel-header>

    <max-map></max-map>
  </mat-expansion-panel>

</div>
