<div class="max-container">

  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        <mat-icon>search</mat-icon>
        <span>Buscar clientes</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <max-person-filter
      (personsOnFilter)="getPersons($event)">
    </max-person-filter>
  </mat-expansion-panel>

  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        <mat-icon>list</mat-icon>
        <span>Listagem dos clientes</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <max-person-list></max-person-list>
  </mat-expansion-panel>

  <mat-expansion-panel class="max-panel">
    <mat-expansion-panel-header class="max-panel-head">
      <mat-panel-title class="max-panel-head-title">
        <mat-icon>map</mat-icon>
        <span>Geolocalização dos clientes</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <max-map></max-map>
  </mat-expansion-panel>

</div>
