<form class="max-form-filter-container" name="addressForm" role="form" [formGroup]="addressForm">

  <mat-form-field *ngIf="addressForm.value?.id" style="width: 10%;">
    <div class="max-input-style">
      <label>Id:</label>
      <input matInput formControlName="id">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 30%;">
    <div class="max-input-style">
      <label>Rua:</label >
      <input matInput formControlName="street">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 15%;">
    <div class="max-input-style">
      <label>Bairro:</label>
      <input matInput formControlName="sector">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 15%;">
    <div class="max-input-style">
      <label>Cidade:</label>
      <input matInput formControlName="city">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 10%;">
    <div class="max-input-style">
      <label>Estado:</label>
      <input matInput formControlName="state">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 15%;">
    <div class="max-input-style">
      <label>CEP:</label>
      <input matInput formControlName="cep">
    </div>
  </mat-form-field>

  <mat-form-field style="width: 30%;">
    <div class="max-input-style">
      <label>Latitude:</label >
      <input matInput formControlName="latitude" type="email">
      <mat-hint>Necessário para ser exibido no mapa! Geocoding ainda não implementado.</mat-hint>
    </div>
  </mat-form-field>

  <mat-form-field style="width: 30%;">
    <div class="max-input-style">
      <label>Longitude:</label>
      <input matInput formControlName="longitude">
      <mat-hint>Necessário para ser exibido no mapa! Geocoding ainda não implementado.</mat-hint>
    </div>
  </mat-form-field>

</form>


